<div id="<%= dom_id randomthought %>">
  <p>
    <strong>Content:</strong>
    <%= randomthought.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link_to randomthought.user.name, randomthought.user %>
  </p>

</div>
