<h1>Editing randomthought</h1>

<%= render "form", randomthought: @randomthought %>

<br>

<div>
  <%= link_to "Show this randomthought", @randomthought %> |
  <%= link_to "Back to randomthoughts", randomthoughts_path %>
</div>
